.img {
    margin: auto;
}

.box {
    position: absolute;
    top: 217px;
    left: 280px;
}

.box1 {
    position: absolute;
    left: 200px;
    top: 217px;
}

.box2 {
    position: absolute;
    left: 200px;
    top: 275px;
}

.box3 {
    position: absolute;
    left: 150px;
    top: 200px;    
}

.ratings {
    color: #18AC00;
}